.nt__flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.nt__flex-column{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.nt-flex-50{
    width: 50%
}

.nt__flex--wrap{

}