@mixin clearFix {
  &::after{
    content: "";
    clear: both;
    display: block;
  }
}

@mixin resetLink($color) {
  text-decoration: none;
  text-transform: uppercase;
  color: $color;
}

@mixin center-text(){
  text-align: center;
}

@mixin flexbox(){
  display: flex;
}

@mixin heading3-title(){
  font-weight: 700;
  font-size: $medium-font;
  text-transform: uppercase;
}

@mixin heading3-body(){
  font-size: $medium-font;
}