$light_green: #7ed56f;
$light_green_opacity: rgba(126, 213, 111, 0.8);
$medium_green: #55c57a;
$dark_green: #28b485;
$dark_green_opacity: rgba(40, 180, 131, 0.8);

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7030;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$font-color: #777;
$color-grey-light-1: #f7f7f7;
$grey-hr: #edf3fc;
$color-white: #fff;
$color-black: black;


// FONT
$medium-font: 1.6rem;
$medium-font-2: 2rem;
$big-font: 2.3rem;
$icon-font: 7rem;