.nt-section-tours{
  margin: -10rem 0;
  padding:  20rem 0 50rem 0;
  background-color: $color-grey-light-1;
  &__tour-container{
    width: 33.33%;
    min-height: 45rem;
    text-align: center;
  }
}